div {
    background-color: greenyellow;

}
a{
    font-size: 25px;
    padding-top: 10px;
   
}

img {
    height: 40px;
    background-color: greenyellow;
}
.nav-link active{
    border-left: 1px solid rgb(54, 46, 46);
    border-collapse: collapse;
}


header{
    zoom: 1.2;
}