<br>
<h2>Kontakt hinzufügen:</h2>
<div class="addcontactform">
    <label for="name">Vorname:</label><br>
    <input type="text" name="firstname" id="firstname" [(ngModel)]="contact.firstname"><br>

    <label for="name">Nachname:</label><br>
    <input type="text" name="lastname" id="lastname" [(ngModel)]="contact.lastname"><br>

    <label for="phoneNumber">Telefonnummer:</label> <br>
  
    <input type="text" value="+49 " name="phoneNumber" id="phoneNumber" [(ngModel)]="contact.phoneNumber"><br>

    <br>
    <button (click)="AddNewContact();">Kontakt speichern</button>
</div>
<p id="error"></p>
