.table-secondary {
    color: green($color: #000000);
}

table {
    margin-left: 2%;
    font-size: 20px;
    
}
.updateContact{
    visibility: hidden;
    margin-top: 1%;
    margin-left: 2%;
    background-color: #b5d87dc5;

}
div{
    display: block;
}
input{
    
    padding-left: 100px;
    width: 35px;
    height: 18px;
    font-size: 20px;
    text-align: left;
    padding-left: 100px;


}
.text-info{
    
    padding-left: 10px;

}