.table-secondary {
    color: green($color: #000000);
}

table {
    margin-left: 35.5%;
    margin-top: 3%;
    font-size: 22px;
    border: 1px solid rgb(54, 46, 46);
    border-collapse: collapse;
    background-color: rgba(158, 241, 4, 0.774);

    width: 25%;
}

th {
    padding-left: 5px;
}

th,
td {
    border: 1px solid rgb(54, 46, 46);
    border-collapse: collapse;
    padding-left: 5px;
}

.buttons {
    display: flex;
}

.updateContact {
    visibility: hidden;
    margin-top: 1%;
    margin-left: 50.5%;
    background-color: #a4ff13da;
    width: 90px;
}

.sortContacts {
    margin-top: 1%;
    margin-left: 6.5%;
    background-color: #dfebccda;
    width: 90px;

}



input {

    padding-left: 100px;
    width: 35px;
    height: 18px;
    font-size: 20px;
    text-align: left;
    padding-left: 100px;


}

.text-info {

    padding-left: 10px;

}