<div>

    <body>
        <table>
            <tr>
                <th><mat-icon> contacts
                    </mat-icon>
                    Name</th>
                <th>Tel.</th>
                <th style="width: 50px;"></th>
            </tr>
            <tr *ngFor="let contact of contacts">
                <td><mat-icon>account_box</mat-icon>
                    {{contact.firstname }}
                    {{ contact.lastname}}
                </td>
                <td> {{ contact.phoneNumber}}
                </td>
                <td>
                    <input type="radio" value="{{contact.id}}" (change)="MakeButtonsVisibleOnRadioEvent($event)">
                </td>
            </tr>


        </table>

        <div class="buttons">
            <button id="updateContact" class="updateContact" (click)="deleteContact()">Kontakt entfernen</button>

        </div>
    </body>

</div>