td {
    color: green;
    width: 50%;
}

tr {
    border-bottom: 1px solid rgb(202, 197, 197);
}


table {
    font-size: 19px;
    max-width: 90%;
    margin-left: 10%;
    margin-top: 1%;
    border: 1px solid lightgray;
    background-color: rgb(255, 249, 242);
    width: 800px;
    font-family: 'Hind Guntur', sans-serif;

}

th {
    width: 50%;
}

body {
    max-width: 90%;
    display: flex;
    justify-content: center;
}

.deleteIcon {
    padding-top:3px;
    zoom: 1.2;
   color: #f33e3ef3;
}