<!-- On tables -->
<div>
    <div class="tables">
    
    <table class="table-secondary">
        <thead>
            <tr>
                <th scope="col">Vorname</th>
                <th scope="col"> Nachname</th>
                &emsp;
                <th scope="col" colspan="">Telefon</th>
                <th class="inputth"></th>

            </tr>
        </thead>
        <tbody>
        <tr class="table-primary" *ngFor="let contact of contacts">

            <td class="">{{ contact.firstname}}</td>
            <td class="">{{ contact.lastname}}</td>
            <td class="">{{ contact.phoneNumber}} </td>
            <input name="contactSelector" type="radio" value="{{contact.id}}" (change)="MakeButtonsVisibleOnRadioEvent($event)">



        </tr>
    </tbody>
    </table>
</div>
    
    <div class="buttons">
        <button id="updateContact" class="updateContact" (click)="deleteContact()">Kontakt entfernen</button>
    </div>

</div>