.app-div{
    margin-right: 20%;
    margin-left: 20%;
    height: 100%;
    border-right: 1px solid rgb(255, 200, 200, 1);;
    border-left: 1px solid rgb(255, 200, 200, 1);;
}
body{
    margin-top: 0;
}