td {
    width: 50%;
    color: #52a9ce;

}

th {
    width: 50%;

}
thead{
    background-color: rgba(245, 101, 101, 0.349);;

}
a{
    background-color: rgb(255, 200, 200, 1);
    margin-top: 10px;
}
tr {
    border-bottom: 1px solid rgb(202, 197, 197);

}

.mat-th {
    width: 100px;

}



table {
    font-size: 19px;
    margin-top: 80px;
    border: 1px solid rgb(255, 200, 200, 1);
    background-color: rgb(255, 255, 255);
    width: 60%;
    font-family: 'Hind Guntur', sans-serif;

}



.deleteIcon {
    color: #f33e3ef3;
}

div {
    display: flex;
    justify-content: center;
}