td {
    width: 50%;
    color: #52a9ce;

}

th {
    width: 50%;

}
thead{
    background-color: rgba(245, 101, 101, 0.349);;

}
a{
    background-color: rgb(255, 200, 200, 1);
    margin-top: 10px;
}
tr {
    border-bottom: 1px solid rgb(202, 197, 197);

}

.mat-th {
    width: 100px;

}

mat-icon {
    padding: 0;
    margin: 0;
}


table {
    font-size: 19px;
    max-width: 90%;
    margin-top: 80px;
    border: 1px solid rgb(255, 200, 200, 1);
    background-color: rgb(255, 255, 255);
    width: 800px;
    font-family: 'Hind Guntur', sans-serif;

}



body {
    max-width: 90%;
    display: flex;
    justify-content: center;
}

.deleteIcon {
    color: #f33e3ef3;
}

div {
    display: flex;
    justify-content: center;
}