<body>
    <div class="flex">
        <table>
            <tr>
                <th><mat-icon> contacts
                    </mat-icon>
                    Name</th>
                <th>Tel.</th>
                <th style="width: 50px;"></th>
            </tr>
            <tr *ngFor="let contact of contacts">
                <td><mat-icon>account_box</mat-icon>
                    {{contact.firstname }}
                    {{ contact.lastname}}
                </td>
                <td> {{ contact.phoneNumber}}
                </td>
                <td>
                    <button id="updateContact" class="updateContact" (click)="deleteContact(contact.id)"><mat-icon
                            class="deleteIcon">delete</mat-icon></button>
                </td>
            </tr>
        </table>
    </div>
</body>