.body {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


h2 {
    color: #52a9ce;    
    font-size: 28px;
}


button {
    height: 60px;
    width: 180px;
    font-size: 19px;
    background-color: rgb(255, 200, 200, 1);
    border-style: solid 1px;
}

