body {
    display: flex;
    justify-content: center;
}


h2 {
    color: rgb(104, 155, 9);
    font-size: 24px;
}


button {
    height: 50px;
    width: 160px;
    font-size: 19px;
    background-color: aqua;
}