body {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


h2 {
    color: rgb(104, 155, 9);
    font-size: 24px;
}


button {
    height: 50px;
    width: 180px;
    font-size: 19px;
    background-color: rgb(152, 180, 180);
    border-style: solid 1px;
}
mat-icon{
    margin-top: 10px;
}